<footer>
    <nav class="flex flex-row">
        <a class="basis-1/3" href="#">
            <img src="./assets/images/logo.png" alt="logo" width="60" height="60">
        </a>

        <div class="basis-1/3 text-center m-2">
            <a class="p-2" href="./index.html">Gira</a>
            <a class="p-2" href="./contact.html">Contacto</a>
        </div>

        <div class="basis-1/3 text-right m-2">
            <a href="#"><i class="fa-brands fa-spotify"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>

    </nav>
</footer>